
.page-container {
    margin: auto;
    max-width: 600px;
  }


  .newspot-center-title,
  .newspot-center-title-sub,
  .center-subtitle {
    text-align: center;
    margin-bottom: 20px;
  }

  .newspot-center-title {
    font-size: 24px;
  }

  .newspot-center-title-sub,
  .center-subtitle {
    font-size: 18px;
  }


  .spotForm {
    width: 100%;
  }


  input,
  textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
  }


  .error-message {
    color: red;
    font-size: 14px;
    text-align: right;
  }


  .city-state-container {
    display: flex;
    justify-content: space-between;
  }


  .city-state-container input {
    width: 48%;
  }


  .description-title,
  .description-subtitle,
  .name-title,
  .name-subtitle,
  .price-title,
  .price-subtitle,
  .image-title,
  .image-subtitle {
    text-align: left;
    margin-bottom: 5px;
  }


  button[type="submit"] {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }

  button[type="submit"]:hover {
    background-color: darkred;
  }
